{# @var helper \KikCMS\Services\Website\FrontendHelper #}
{# @var project \Website\Models\Project #}

{% extends '@website/base.twig' %}

{% block templateBody %}
    <div class="projectCategory">
        <div class="container">
            {% for project in projectMap %}
                <a href="{{ mediaFile(project.firstImage.image_id) }}"
                   class="item col-lg-3 col-md-4 col-sm-6 col-xs-6" title="{{ project.name }}">
                    <img src="{{ mediaFile(project.firstImage.image_id, 'gallery') }}"/>
                </a>
                {% for i, image in project.projectImages %}
                    {% if i > 0 %}
                        <a href="{{ mediaFile(image.image_id) }}" class="hidden" title="{{ project.name }}"></a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}