{# @var homeImage \Website\Models\HomeImage #}

{% extends '@website/base.twig' %}

{% block templateBody %}

    <div class="projectCategory home">
        <div class="container">
            {% for homeImage in homeImageList %}
                <a href="{{ mediaFile(homeImage.image_id) }}" class="item col-lg-3 col-md-4 col-sm-6 col-xs-6"
                   data-image="{{ mediaFile(homeImage.image_id, 'gallery') }}">
                    <img src="{{ mediaFile(homeImage.image_id, 'gallery') }}"/>
                </a>
                {% for image in homeImage.randomImages %}
                    <a href="{{ mediaFile(image.image_id) }}" data-image="{{ mediaFile(image.image_id, 'gallery') }}"
                       class="hidden"></a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock %}